name: CI
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      # Cache dependencies
      - name: Cache Buildozer global directory
        uses: actions/cache@v4
        with:
          path: .buildozer_global
          key: buildozer-global-${{ hashFiles('buildozer.spec') }}

      - name: Cache .buildozer directory
        uses: actions/cache@v4
        with:
          path: .buildozer
          key: ${{ runner.os }}-${{ github.run_id }}

      # Disable BuildKit to avoid metadata issues
      - name: Disable BuildKit
        run: echo "DOCKER_BUILDKIT=0" >> $GITHUB_ENV

      # Build the Docker image from the repository's Dockerfile
      - name: Build Docker Image
        run: docker build -t my-custom-buildozer .

      # Run Buildozer inside the custom Docker container
      - name: Run Buildozer
        run: docker run --rm -v $PWD:/home/user/hostcwd my-custom-buildozer /home/user/.local/bin/buildozer android debug

      # Upload APK artifact
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: apk-output
          path: bin/*.apk
